%br
= button_to "Create a project", new_account_project_path(@account), :method => "get", :class => "btn btn-large btn-primary"

- if @projects.empty?
  %p
    You have no projects.
    = link_to 'Create one.', new_account_project_path(@account)
- else
  %h1 Projects
  %br
  = render "project_entries"
