%br
= button_to "Create a project", new_account_project_path(@account), :method => "get", :class => "btn btn-large btn-primary"

- if @projects.empty?
  %p
    You have no projects.
- else
  - @projects.each do |project|
    %li.no-list
      = link_to project.name, account_project_path(@account, project)
